<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
          <li *ngFor="let n of menulinks"><a (click)="prueba()">{{n.name}}</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
